.music-page {
  display: flex;
  flex-direction: column;
  height: 100vh;

  &__body {
    display: grid;
    grid-template-columns: 290px 1fr;
    column-gap: 46px;
    flex-grow: 1;
    overflow: hidden;

    @include mobile {
      display: flex;
      flex-direction: column;
      gap: 0;
      background-color: var(--color-gray-01);
    }
  }
}