.user-menu {
  display: flex;
  background-color: var(--color-gray-01);
  padding: 3px 10px;
  border-radius: 30px;
  column-gap: 20px;
  justify-content: space-between;

  @include mobile {
    padding: 0;
    border-radius: 0;
    background-color: transparent;
    column-gap: 15px;
  }
}