@use './helpers' as *;

html {
  &.is-lock {
    overflow: hidden;
  }
}

body {
  display: flex;
  flex-direction: column;
  font-family: var(--font-family-base);
  color: var(--color-black-01);
  background-color: var(--color-white);
}

html, body {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  overflow-x: hidden;
  touch-action: manipulation;
  -webkit-text-size-adjust: 100%;
}

main {
  flex-grow: 1;
}

h1, .h1 {
  @include fluid-text(30, 18);

  font-weight: 400;
}

h2, .h2 {
  @include fluid-text(20, 14);

  font-weight: 400;
}

h3, .h3 {
  @include fluid-text(14, 18);

  font-weight: 400;
}

a,
button,
label,
input,
textarea,
select,
svg * {
  transition-duration: var(--transition-duration);
}

a {
  color: inherit;

  @include hover {
    color: var(--color-orange-01);
  }

  &[class] {
    text-decoration: none;
  }
}

:focus-visible {
  @include focus-visible;
}
